/**
 * @name Discordicons
 * @version 0.0.1
 * @author αɜno
 * @authorId 916799876677926982
 * @description Add icons to Discord settings & change the settings icon all over Discord.
 * @updateUrl https://aenoo.github.io/Discordicons/src/discordicons.theme.css
 */

@import url(https://aenoo.github.io/Discordicons/src/main.css);
